<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:fit-content">
    <div fxLayout="row wrap">
        <div class="flex-column" fxFlex="7" fxFlex.md="9" fxFlex.sm="15" fxFlex.xs="30" fxLayout="row" style="padding: 5px;">
            <button mat-button class="icon-button"><mat-icon class="icon-green">play_circle_outline</mat-icon></button>
            <button mat-button class="icon-button"><mat-icon class="icon-red">fiber_manual_record</mat-icon></button>
            <button mat-button (click)="openDescriptionDialog()" class="icon-button"><mat-icon class="icon-blue">info</mat-icon></button>
        </div>
        <div class="flex-column" fxFlex="10" fxFlex.md="11" fxFlex.sm="20" fxFlex.xs="40" fxLayout="column" style="padding: 5px;">
            {{data.startTime}} - {{data.endTime}}
        </div>
        <div class="flex-column" fxFlex="10" fxFlex.md="12" fxFlex.sm="15" fxFlex.xs="30" fxLayout="row" style="padding: 5px;">
            {{data.channel.name}}
        </div> 
        <div class="flex-column" fxFlex="73" fxFlex.md="68" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
            <div class="epg-title">{{data.title}}</div>
            <div class="epg-subtitle">{{data.subtitle}}</div>
        </div>
    </div>
</div>
