.settings-container .mat-expansion-panel-header-title,
.settings-container .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.settings-container .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.settings-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}