<mat-accordion class="settings-container" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                General
            </mat-panel-title>
            <mat-panel-description>
                General settings for TvRemote
            </mat-panel-description>
        </mat-expansion-panel-header>  
        <mat-form-field>
            <mat-label>VDR IP</mat-label>
            <input matInput />
        </mat-form-field>    
        <mat-form-field>
            <mat-label>Kodi Server IP</mat-label>
            <input matInput />
        </mat-form-field>    
        <mat-form-field>
            <mat-label>Kodi Client IP</mat-label>
            <input matInput />
        </mat-form-field>  
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Foo
            </mat-panel-title>
            <mat-panel-description>
                Lore ipsum...
            </mat-panel-description>
        </mat-expansion-panel-header>  
        <mat-form-field>
            <mat-label>Bar</mat-label>
            <input matInput />
        </mat-form-field>    
        <mat-form-field>
            <mat-label>Baz</mat-label>
            <input matInput />
        </mat-form-field>    
    </mat-expansion-panel>
</mat-accordion>
