<mat-form-field appearance="fill">
    <mat-label>Time selection</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="onTimeChange()">
      <mat-option *ngFor="let time of times" [value]="time">
        {{time}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="epgs">
    <app-tvprogram-row *ngFor="let e of epgs; first as f" [epg]="e" [isFirst]="f"></app-tvprogram-row>
  </div>
