<mat-form-field appearance="fill">
  <mat-label>Channel selection</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="onChannelChange()">
    <mat-option *ngFor="let channel of channels" [value]="channel.number">
      {{channel.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="epgs">
  <app-channel-row *ngFor="let e of epgs; first as f" [epg]="e" [isFirst]="f"></app-channel-row>
</div>
