<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:fit-content">
    <div fxLayout="row wrap">
        <div fxFlex="7" fxFlex.md="9" fxFlex.sm="15" fxFlex.xs="30" fxLayout="row" style="padding: 5px;">
            <mat-icon class="icon-red">fiber_manual_record</mat-icon>
            <mat-icon class="icon-blue">language</mat-icon>
            <mat-icon class="icon-blue">find_in_page</mat-icon>
        </div>
        <div fxFlex="10" fxFlex.md="11" fxFlex.sm="20" fxFlex.xs="70" fxLayout="column" style="padding: 5px;">
            {{data.startDate}} {{data.startTime}}
        </div>
        <div fxFlex="83" fxFlex.md="80" fxFlex.sm="65" fxFlex.xs="80" fxLayout="column" style="padding: 5px;">
            {{data.name}}
        </div>
    </div>
</div>

