<mat-toolbar>
    <button mat-icon-button aria-label="Icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="Menu icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a href="./tvprogram" mat-menu-item>
        <mat-icon>calendar_view_day</mat-icon><span>Tv Program</span>
      </a>
      <a href="./channels" mat-menu-item>
        <mat-icon> list_alt</mat-icon><span>Channels</span>
      </a>
      <a href="./timers" mat-menu-item>
        <mat-icon>av_timer</mat-icon><span>Timers</span>
      </a>
      <a href="./recordings" mat-menu-item>
        <mat-icon>theaters</mat-icon><span>Recordings</span>
      </a>
      <a href="./remote" mat-menu-item>
        <mat-icon>settings_remote</mat-icon><span>Remote Control</span>
      </a>
      <a href="./settings" mat-menu-item>
        <mat-icon>settings</mat-icon><span>Settings</span>
      </a>
    </mat-menu>
    <span class="title">{{title}}</span>
  </mat-toolbar>
  <router-outlet></router-outlet>