<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:fit-content">
    <div fxLayout="row wrap">
        <div *ngIf="isFirst" fxFlex="100" style="background-color: lightgray;">
            {{data.startDay}}
        </div>
        <div fxFlex="7" fxFlex.md="9" fxFlex.sm="15" fxFlex.xs="30" fxLayout="row" style="padding: 5px;">
            <mat-icon class="icon-red">fiber_manual_record</mat-icon>
            <mat-icon class="icon-blue">language</mat-icon>
            <mat-icon class="icon-blue">find_in_page</mat-icon>
        </div>
        <div fxFlex="10" fxFlex.md="11" fxFlex.sm="20" fxFlex.xs="70" fxLayout="column" style="padding: 5px;">
            {{data.startTime}} - {{data.endTime}}
        </div>
        <div fxFlex="83" fxFlex.md="80" fxFlex.sm="65" fxFlex.xs="80" fxLayout="column" style="padding: 5px;">
            <div class="epg-title">{{data.title}}</div>
            <div class="epg-subtitle">{{data.subtitle}}</div>
        </div>
        <div *ngIf="data.endDay" fxFlex="100" style="background-color: lightgray;">
            {{data.endDay}}
        </div>
    </div>
</div>
