/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f5f5f5;}


.epg-subtitle {
    font-size: smaller;
    color: gray;
}

.icon-red {
    color: red;
}
.icon-green {
    color: lightgreen;
}
.icon-blue {
    color: blue;
}
.icon-gray {
    color: gray;
}

.mat-icon {
    padding: 0;
}

.icon-button {
    background: rgba($color: #000000, $alpha: 0.0);
    border: 0;
    padding: 1px 2px;
}

.flex-column {
    overflow: hidden;
    text-overflow: ellipsis;
}

app-recording-row {
    width: 100%;
}

.recording-tree-button {
    width: 100%;
    text-align: left;
    background-color: lightblue;
    border-width: 0;
    padding: 0;
}

.recording-tree-foldername {
    display: inline-block;
}

.mat-tree-node {
    min-height: 0;
    border-top: 1px solid gray;
    border-collapse: collapse;
}

.list-row:nth-child(2n+1) {
    background-color: #f5f5f5;
}